body {
    background-color: darkgray;
}

    p {
        font-size: 20px;
        text-align: center;
    }
    h1{
        text-align: center;
        background-color: darkgrey;
    }
    em strong{
        color: red;
    }
